---
layout: archive
title: "Travel"
permalink: /travel/
author_profile: true
---

{% include base_path %}

<p>Recommended ways to travel to Bardejov based on the arrival airport.</p>

<p><strong>Note:</strong> Provided estimated prices are for one way tickets (unless stated otherwise) and if you book them at right time (~3 months prior departure)</p>

<p>If you run into problems, contact us or use our WhatsApp group (link on the home page).</p>

<p>We encourage you to travel in groups. Do not hesitate to use our WhatsApp group to discuss the matter.</p>


{% for post in site.travel %}
  {% include archive-single.html %}
{% endfor %}